body{
    margin: 0px;
}
.card{
    display: flex;
    flex: 1;
    flex-direction: row;
    min-width: 350px;
    margin: 18px;
    padding: 30px;
    border: 0px;
    border-radius: 40px;
    background-image: linear-gradient(to bottom, #b2cee2, white);
}
.Image{
    border-radius: 5px;
    margin-right: 20px;
    margin-top: -50px;
    box-shadow: 0 0 3px  black;
    transition: 0.2s;
}
.Image:hover{
    box-shadow: 0 0 8px  black;
    transform: scale(1.1);
}
.Title{
    font-size: 28px;
    color: black;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}
.Author{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 5px;
    font-family: "'Ubuntu', sans-serif";
}
.Button{
    font-size: 15px;
    padding: 3px;
    background-color: #fff9ea;
    border: 0px;
    border-radius: 50px;
    margin-top: 7px;
    font-family: 'Ubuntu', sans-serif;
}
.Desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}
.Main{
    display: flex;
    flex-direction: row;
}
.SidebarContainer{
    display: flex;
    justify-content: center;
    width: 19%;
}
.Sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 30px;
}
.Categories{
    width: 100%;   
    height: 45px;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 25px;
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-family: Montserrat, "Roboto", "Noto", sans-serif;
    transition: 0.2s;
}
.Categories:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.Categories:focus{
    background-color: black;
    color: white;
}
.Logo{
    font-weight: 900;
    color: black;
    text-decoration: none;
    font-size: 25px;
    padding-left: 25px;
}
.Heading{
    color: rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: Montserrat, "Roboto", "Noto", sans-serif;
    padding-left: 25px;
}
.Content{
    display: flex;
    flex-direction: column;
    width: 81%;
}
.SearchContainer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}
.Search{
    border: 0px;
    width: 90%;
    height: 50px;
    margin: 15px;
    font-family: Montserrat, "Roboto", "Noto", sans-serif;
    font-weight: 500;
}
.Search:focus{
    outline: none;
}
.PWAlogo{
    height: 20px;
}
.SearchResults{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.Fiction{
    display: flex;
    flex-direction: column;
}
.CategoryBooks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.CategoryTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.CategoryTop h2{
    font-size: 40px;
    font-weight: 800;
    font-family: Montserrat, "Roboto", "Noto", sans-serif;
    margin-top: 70px;
    margin-bottom: 70px;
}
.PrevNext{
    display: flex;
}
.PrevNext button    {
    display: inline-flex;
    margin: 5px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 100px;
    cursor: pointer;
    transition: 0.2s;
    align-items: center;
    justify-content: flex-end;
}








@media screen and (max-width: 800px) {
    .Main {
      flex-direction: column;
    }
    .Content{
        width: 100%;
    }
    .SidebarContainer{
        width: 100%;
    }
  } 
  